/* Box Model Hack and font */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Desktop */
/* navbar */
header .logo {
  width: 180px;
  height: 100px;
  cursor: pointer;
  /* If you want the nav goes right, activate below */
  /* margin-right: auto; */
}

li, a, button {
  font-weight: 700;
  font-size: 18px;
  color: #f5743e;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  /* If you want the nav goes right, make flex-end */
  /* justify-content: flex-end; */
  align-items: center;
  padding: 10px 10%;
  border-bottom: 2px solid #f5743e;
}

.nav-link {
  list-style: none;
}

.nav-link li {
  display: inline-block;
  padding: 0px 50px;
}

.nav-link li a {
  transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
  color: black;
}

button {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #f5743e;
  color: white;
}

button:hover {
  color: black;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
