/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/* font */
* {
  font-family: 'Open Sans', sans-serif;;
}
/* smooth transition between pages */
.transition-fade {
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/* navbar */
.navbar {
  background-color: white;
  overflow: hidden;
}

.logoNav {
  float: left;
  height: 94px;
  width: 181px;
  margin-left: 70px;
  margin-top: 30px;
}

.navbar a {
  float: left;
  color:#FD763F;
  text-align: center;
  font-size: 23px;
  text-decoration: none;
  padding: 14px;
  margin: 50px 20px;
  margin-left: 80px;
}

.navbar a:hover {
  background-color:#FD763F;
  color: white;
}

/* first div */

.firstDiv {
  background-color: tomato;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
