/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

/* navbar */
.navbar {
  background-color: white;
  overflow: hidden;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
